/*PartyContacts CSS*/
#contacts-output ul li{
   list-style-type:none;
   margin: 5px;
}
#rock-btn{
    margin-left:20px;
}

/*Add Person CSS*/
#nameLabel{
    margin:10px;
}
#partyMember{
    margin:10px;
}

#partyMember button{
    margin:30px 30px 30px 100px;
    width:5em;
}
#addMusicType{
    width: 7em;
    height:2em;
    margin:10px;
}