<div data-role="view" data-title="Party People" data-layout="main" data-model="app.addPerson">
    <label for="name">Name</label>
    <input type="text" name="name" data-bind="value: name" />

    <div>
        <label>Party member</label>
        <input type="checkbox" data-bind="checked: isParty" />

        <select id="addMusicType" data-bind="value:musicType">
            <option value="Rock">Rock</option>
            <option value="Chalga">Chalga</option>
            <option value="Retro">Retro</option>
            <option value="Dance">Dance</option>
        </select>

        <button data-bind="events: {click:save}">Save</button>
    </div>
</div>
