<div data-role="view" data-title="Party People" data-layout="main" data-show="app.contacts">
    <form id="musicTypeFilter">
        <input type="radio" name="rockCat" value="Rock" data-bind="checked: musicType">Rock<br>
        <input type="radio" name="chalgaCat" value="Chalga" data-bind="checked: musicType">Chalga<br>
        <input type="radio" name="retroCat" value="Retro" data-bind="checked: musicType">Retro<br />
        <input type="radio" name="technoCat" value="Dance" data-bind="checked: musicType">Dance
    </form>
    <div id="contacts-output">

    </div>
</div>

